.contactContainer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.header {
  font-size: 2.5rem;
  color: var(--color-darktractoa);
  font-weight: 300;
}

.infoText {
  font-size: 1rem;
  color: var(--color-charcoal);
  font-family: var(--font-description);
  margin-bottom: 1rem;
  opacity: 0.8;
}

.content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.imageSection {
  flex: 0 0 45%;
}

.locationImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.infoSection {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

/* Updated contact detail styling */
.contactDetail {
  font-size: 1rem;
  color: var(--color-charcoal);
  font-family: var(--font-description);
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  opacity: 0.8;
}

/* New class for the icons */
.contactIcon {
  font-size: 1.3rem;
  color: var(--color-charcoal);
  margin-right: 0.5rem;
}

.contactDetailValue {
  font-weight: 100;
  font-size: 1rem;
  opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: left;
  }

  /* Place the text first on mobile */
  .infoSection {
    order: 1;
  }
  
  /* And the image will follow */
  .imageSection {
    order: 2;
    margin-bottom: 1.5rem;
    flex: 1;
  }
  
  .header {
    font-size: 2rem;
  }

  .contactContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .dayBlock {
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

  .hours {
    margin-left: 1rem;  /* Add some indentation for better readability */
  }
}

/* -------------------- Animation Styles -------------------- */

.animateIn {
  animation: fadeInUp 0.75s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subHeader {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.openingHours {
  margin-top: 1rem;
}

.dayBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.day {
  font-weight: 500;
  color: var(--color-charcoal);
  opacity: 0.8;
  font-size: 1rem;
}

.hours {
  color: var(--color-charcoal);
  opacity: 0.8;
}

.note {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
} 