.home {
  /* You can add global styles for the Home component here */
}

.hero {
  background: #fef2da;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 0 1rem;
  height: 100vh;
  box-shadow: inset 0 0 200px rgba(0, 0, 0);
  position: relative;
  animation: slideIn 1s ease-out forwards;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.20);
  z-index: -1;
}

.spacer {
  height: 87vh;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroLogo {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));

}

.arrowIcon {
  display: block;
  width: 60px;
  height: 60px;
  color: white;
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.scrollDown:hover .arrowIcon {
  transform: translateY(5px);
  opacity: 1;
} 

@media (max-width: 768px) {
  .heroLogo {
    max-width: 250px
  }
  .scrollDown {
    bottom: 20px;
  }
  .spacer {
    height: 80vh;
  }
}